body.light-mode {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.12)
    ),
    url("../images/light-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #444;
}

.light-mode li {
    color: #555;
}

.light-mode li:hover {
    color: #8B5CF6;
}

.light-mode .logo {
    color: #8B5CF6;
}

.light-mode .mode-btn {
    color: #8B5CF6;
}

.light-mode h1,
.light-mode h2,
.light-mode h3 {
    color: #444;
}

.light-mode p {
    color: #666;
}

.light-mode .main-text p {
    color: #666;
}

.light-mode .test-box,
.light-mode .type-card,
.light-mode .project-box {
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 10px 30px rgba(139, 92, 246, 0.12);
}

.light-mode .result-card {
    background: #F8F5EF;
    backdrop-filter: none;
}
.light-mode .start-btn {
    background: linear-gradient( 90deg, #8B5CF6, #A78BFA );
    color: white;
}

.light-mode #retryBtn,
.light-mode #saveBtn {
    background: linear-gradient( 90deg, #8B5CF6, #A78BFA );
    color: white;
}

.light-mode .start-btn:hover,
.light-mode #retryBtn:hover,
.light-mode #saveBtn:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(139, 92, 246, 0.3);
}

.light-mode .answer-btn {
    background: rgba(255, 255, 255, 0.7);
    color: #444;
    border: 1px solid rgba(167, 139, 250, 0.15);
}

.light-mode .answer-btn:hover {
    background: rgba(167, 139, 250, 0.15);
    color: #8B5CF6;
}

.light-mode .progress-bar {
    background: rgba(0, 0, 0, 0.08);
}

.light-mode .progress {
    background: linear-gradient( 90deg, #8B5CF6, #CDBDFF );
}

.light-mode #resultFeatures p {
    color: #555;
}

.light-mode .profile-image {
    background: rgba(255, 255, 255, 0.7);
    color: #8B5CF6;
}